/* overlay menu */
.modal-overlay{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.5);
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:1000;
}

.modal{
    width:500px;
    max-width:90%;
    background:#fff;
    border-radius:12px;
    overflow:hidden;
}

.modal-header,
.modal-footer{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 22px;
    border-bottom:1px solid #eee;
}

.modal-footer{
    border-top:1px solid #eee;
    border-bottom:none;
}

.modal-body{
    padding:22px;
}

.modal-body select{
    width:100%;
    padding:10px;
    margin-top:15px;
}

.close-btn{
    background:none;
    border:none;
    font-size:20px;
    cursor:pointer;
}

.cancel-btn,
.assign-btn{
    padding:10px 18px;
    border:none;
    border-radius:8px;
    cursor:pointer;
}